/* where old reset used to be */
.center {
  margin: 0 auto;
}
.content{
  margin: auto auto; width: 960px;
  }
.clear {
  clear: both;
}

/* stackoverflow linked to http://nicolasgallagher.com/micro-clearfix-hack/ */
/* tell the container's children to float left: */
.float-my-children > * {
    float:left;
    margin-right:200px;
}
.clearfix {
    *zoom:1 /* for IE */
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

/* wait I thought we weren't supposed to be using classes but everyone uses it anyway why tho */
.project_description {
  font-family: 'Goudy Bookletter 1911', serif;
  font-weight: normal;
  font-size: 30px;
  margin: 0 0;
}

.author_name_white {
  font-family:"Wellfleet";
  margin: 70px 0 0 75px;
  color: #fff;
  font-size: 20px;
} 
.author_name_gray {
  font-family:"Wellfleet";
  margin: 70px 0 0 75px;
  color: #94a4a4;
  font-size: 20px;
} 
.project_description_right {
  width: 800px;
  margin: 0 auto;
}

/* my mind's telling me noooo but my */
body{
  margin: 0;
  padding: 0;
  width: 100%;
}

/* h1 - h3 */
h1 {
  font-family:"Arvo";
  font-weight:normal;
  font-size: 55px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h2 {
  font-family:"Arvo";
  font-weight: normal;
  font-size: 40px;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
}
h3 {
  font-family: Oswald;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
  margin: 5px 0;
  padding: 0 0;
  z-index: 1;
  position: relative;
}

#header {
  width: 100%;
  background: url('../img/header-bg.png');
  height: 80px;
  position: fixed;
  margin-top: 30px;
}

/* id nav */
#nav {
  width: 600px;
  float: right;
  margin-top: 20px;
}
#nav ul{
  list-style: none;
  display: block;
  margin: 0 auto;
  list-style: none;
}

#nav li{
  margin-top: 9px;
  float: left;
  padding-left: 40px;
}
#nav li a {
  color: #fff;
  opacity:0.6;
  font-size: 16px;
  text-decoration: none;
  font-family: 'Wellfleet';
}
#nav li a:hover {
  color: #fff;
  opacity:1;
}

#logo a {
  color: #fff;
  text-decoration: none;
  float: left;
  font-size: 30px;
  margin-top: 20px;
  color: #fff;
  font-family:"Wellfleet";
  font-weight: bold;
}

/* project demo images */
#IlliniLaundryDemo {
  background: url('../img/IlliniLaundryDemo.jpg')no-repeat;
  width: 30%;
  margin: 0 0;
  display: block;
  position: relative;
}

/* projects or something like that */
#Intro{
  background:url('../img/Intro.jpg') 50% 0 no-repeat fixed;
  /* (image source) Designed by Tirachard / Freepik */
  color: #fff;
  height: 600px;
  margin: 0;
  padding: 200px 0 260px 0;
  background-size: cover;
  width: 100%;
}
#IlliniLaundry{
  background-color: #fff;
  color: #333333;
  height: 500px;
  margin: auto auto;
  overflow: hidden;
  padding: 150px 0;
  width: 100%;
}
#slide3{
  background: url(../img/Bardeen_Quad.jpg) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}
#slide4{
  background-color: #fff;
  color: #333333;
  height: 500px;
  margin: auto auto;
  overflow: hidden;
  padding: 150px 0;
  width: 100%;
}
#slide5{
  background: url(../img/Siebel.jpg) 50% 0 no-repeat fixed;
  color: #fff;
  height: 600px;
  padding: 170px 0 0 0;
  background-size: cover;
}