<div id="Undergraduate">
    <div id="tabs">
        <div id="left">
            <div id="img">
                <img src="img/undergraduate.png" />
            </div>
        </div>
        <div id="right">
            <h1>
                I did my undergrad at the Univeristy of Illinois Urbana-Champaign from 2016 to 2019.
                <br>
                <!-- <a href="https://git.minhyukpark.com/MinhyukPark/latex/blob/master/undergrad_thesis/thesis.pdf">Link to my undergraduate thesis</a> -->
            </h1>
        </div>
    </div>
</div>
