<header id="header">
    <div class="content">
        <div id="logo"><a href="."> CS@Illinois 2020 </a></div>
        <nav id="nav">
            <ul>
                <li><a href="#slide1" class="active" title="Next Section" >Illini Laundry</a></li>
                <li><a href="#slide2" title="Next Section">June 16</a></li>
                <li><a href="#slide3" title="Next Section">June 23</a></li>
                <li><a href="#slide4" title="Next Section">June 30</a></li>
                <li><a href="#slide5" title="Next Section">July 7</a></li>
            </ul>
        </nav>
    </div>
</header>