<header id="header">
    <div class="headercontent">
        <div id="logo">
            <a href=".">
                Minhyuk Park
            </a>
        </div>
        <nav id="nav">
            <ul>
                <li><a href="#Intro" class="active" title="Hi" >Hi</a></li>
                <li><a href="#IlliniLaundry" title="Illini Laundry">Illini Laundry</a></li>
                <li><a href="#June23" title="June 23">June 23</a></li>
                <li><a href="#June30" title="June 30">June 30</a></li>
                <li><a href="#July7" title="July 7">July 7</a></li>
            </ul>
        </nav>
    </div>
</header>