<div id="IlliniLaundry">
    <div class="content">
        <div id="mobile_img">
           <img src="img/IlliniLaundryDemo.jpg"/>
       </div>
       <div id="mobile_description">
           <h3>
               <p>
                    Target Platform: iOS
               </p>
               <p>
                   Brief Description: Mobile application to monitor the real-time
                   status of laundry machines and dryers at all the dorms of
                   University of Illinois Urbana-Champaign.
               </p> 
               <p>
                   Collaborators: TJ Egbejimba
               </p>
               <p>
                   Contribution Level: High
               </p>
               <p>
                   <div id="repo_link">
                       <a href="https://github.com/illiniLaundry/illiniLaundry-iOS" target="_blank">
                           Link to IlliniLaundry iOS git repository
                       </a>
                   </div>
               </p> 
           </h3>
       </div>
    </div>
</div>
