<div id="Graduate">
    <div id="mobiletabs">
        <div id="mobileleft">
            <div id="mobileimg">
                <img src="img/graduate.png" />
            </div>
        </div>
        <div id="mobileright">
            <h1>
                I attended Univeristy of Illinois at Urbana-Champaign from 2019 to 2021 as a graduate student.
                <br>
                <a href="https://git.minhyukpark.com/MinhyukPark/latex/blob/master/grad_thesis/thesis.pdf">Link to my graduate thesis</a>
            </h1>
        </div>
    </div>
</div>
