<div id="Undergraduate">
    <div id="mobiletabs">
        <div id="mobileleft">
            <div id="mobileimg">
                <img src="img/undergraduate.png" />
            </div>
        </div>
        <div id="mobileright">
            <h1>
                I attended Univeristy of Illinois at Urbana-Champaign from 2016 to 2019 as an undergraduate student.
                <br>
                <a href="https://git.minhyukpark.com/MinhyukPark/latex/blob/master/undergrad_thesis/thesis.pdf">Link to my undergraduate thesis</a>
            </h1>
        </div>
    </div>
</div>
