<div id="ACMChatbot">
    <div class="content">
        <div class="center_mobile_img">
            <div id="mobile_img">
                <img src="img/ACMChatbotDemo.jpg"/>
    	    </div>
        </div>
        <div id="mobile_description">
            <h3>
                <p>
                     Target Platform: Facebook Messenger
                </p>
                <p>
                    Brief Description: Official server for ACM Chatbot at the University
                    of Illinois. The bot is capable of responding to real-time user
                    questions through Facebook Messenger and answer questions about
                    ACM such as sign up information.
                </p>
                <p>
                    Collaborators: Eric Lee
                </p>
                <p>
                    Contribution Level: Low
                </p>
                <p>
                    <div id="repo_link">
                        <a href="https://github.com/dl-eric/ACMbot" target="_blank">
                            Link to ACMbot git repository
                        </a>
                    </div>
                </p> 
            </h3>
        </div>
    </div> 
 </div>
