<header id="header">
    <div class="header_content" id="header_content">
        <div id="logo">
            <a href=".">
                Minhyuk Park
            </a>
        </div>
        <div id="nav">
            <li><a href="#andmore" title="and more!">and more!</a></li>
            <li><a href="#Work" title="Work">Work</a></li>
            <li><a href="#Graduate" title="Graduate">Graduate</a></li>
            <li><a href="#Undergraduate" title="Undegraduate">Undergraduate</a></li>
            <li><a href="#Intro" class="active" title="Hi">Hi</a></li>
        </div>
    </div>
</header>
