<div id="Graduate">
    <div id="mobiletabs">
        <div id="mobileleft">
            <div id="mobileimg">
                <img src="img/graduate.png" />
            </div>
        </div>
        <div id="mobileright">
            <h1>
                I started Grad school at the Univeristy of Illinois Urbana-Champaign in 2019.
                <br>
                <!-- <a href="https://git.minhyukpark.com/MinhyukPark/latex/blob/master/grad_thesis/thesis.pdf">Link to my graduate thesis</a> -->
            </h1>
        </div>
    </div>
</div>
