<div id="Work">
    <div id="mobiletabs">
        <div id="mobileleft">
            <div class="slidecontainer">
                <div class="slide fade">
                    <div id="mobileimg">
                        <img src="img/tri.jpg" />
                    </div>
                </div>
                <div class="slide fade">
                    <div id="mobileimg">
                        <img src="img/goldman-sachs-logo.png" />
                    </div>
                </div>
            </div>
        </div>
        <div id="mobileright">
            <h1>
                These are some of the places I've worked at.
            </h1>
        </div>
    </div>
</div>
