<div id="Graduate">
    <div id="tabs">
        <div id="right">
            <h1>
                I started Grad school at the Univeristy of Illinois Urbana-Champaign in 2019.
                <br>
                <!-- <a href="https://git.minhyukpark.com/MinhyukPark/latex/blob/master/grad_thesis/thesis.pdf">Link to my graduate thesis</a> -->
            </h1>
        </div>
        <div id="left">
            <div id="img">
                <img src="img/graduate.png" />
            </div>
        </div>
    </div>
</div>
