<div id="HackIllinois">
    <div class="content">
        <div class="clearfix float_custom">
            <div id="img">
                <img src="img/HackIllinoisDemo.jpg" />
            </div>
            <div id="description">
                <h3 style="margin-top: 0;">
                    <p style="margin-top: 0;">
                        Target Platform: iOS
                    </p>
                    <p>
                        Brief Description: Official iOS application for HackIllinois 2017. HackIllnois is the annual Hackathon hosted by the University of Illinois. The app allows students from across the nation to login and have access to the schedule, locations of each events, annoucements, and a countdown timer for when the hackathon ends.
                    </p>
                    <p>
                        Collaborators: Shotaro Ikeda and 7 others
                    </p>
                    <p>
                        Contribution Level: Medium
                    </p>
                    <p>
                        <div id="repo_link">
                            <a href="https://github.com/HackIllinois/iOS" target="_blank">
                                Link to HackIllinois iOS git repository
                            </a>
                        </div>
                    </p>
                </h3>
            </div>
        </div>
    </div>
</div>
