<div id="ACMChatbot">
    <div class="content">
        <div class="clearfix float-my-children">
            <img src="img/ACMChatbotDemo.jpg" width=30% style="border: 1px solid grey"/>
            <h3>
                <p>
                     Target Platform: Facebook Messenger
                </p>
                <p>
                    Brief Description: Official server for ACM Chatbot at the University of Illinois<br>
                    The bot is capable of responding to real-time user questions through Facebook Messenger<br>
                    and answer questions about ACM such as sign up information.<br>
                </p>
                <p>
                    Collaborators: Eric Lee
                </p>
                <p>
                    Contribution Level: Low
                </p>
                <p>
                    <div id="repo_link">
                        <a href="https://github.com/dl-eric/ACMbot" target="_blank">
                            Link to ACMbot git repository
                        </a>
                    </div>
                </p> 
            </h3>
        </div> 
    </div> 
 </div>