<div id="Work">
    <div id="tabs">
        <div id="left">
            <div class="slidecontainer">
                <div class="slide fade">
                    <div id="img">
                        <img src="img/tri.jpg" />
                    </div>
                </div>
                <div class="slide fade">
                    <div id="img">
                        <img src="img/question.png" />
                    </div>
                </div>
            </div>
        </div>
        <div id="right">
            <h1>
                These are some places I've worked at.
            </h1>
        </div>
    </div>
</div>
